<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB260E8627B7126000A089F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB260E9827B7159600A089F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB260E9F27B7159600A089F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB6D210527B94B30000AFD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB6D210C27B94B30000AFD66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
